<h3>Share this with your friends</h3> 
<div class="socialbar">
   <ul>
     <li>
         <g:plusone  callback="plusone_vote" href="{{shop.url}}{{product.url}}" size="medium"></g:plusone>
         <script type="text/javascript">
              function plusone_vote( obj ) {
                  _gaq.push(['_trackEvent','plusone',obj.state]);
              }
         </script>
     </li>
     <li>
         <iframe src="http://www.facebook.com/plugins/like.php?href={{ shop.url }}{{ product.url }}&amp;layout=button_count&amp;show_faces=false&amp;width=150&amp;action=Like&amp;font=lucida+grande&amp;colorscheme=light" scrolling="no" frameborder="0" allowTransparency="true" style="border:none; overflow:hidden; width:150px; height:30px" allowTransparency="true"></iframe> 
         <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script> 
     </li>
     <li>
         <a href="http://twitter.com/share"{% if template == 'product' %} data-url="{{ shop.url }}{{ product.url }}"{% endif %} data-text="Awesome! {% if template == 'product' %}{{ product.title }} at ${{ product.price | money_without_currency }}{% else %}{{ page_title }}{% endif %}" class="twitter-share-button" data-count="horizontal" data-via="HolgaDirect" >Tweet</a>
         <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
     </li>
   </ul>
</div>